[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable:silent

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = true:silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
